header {
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
}

.text-wrapper {
   color: #d0d0d0;
   font-family: 'Quicksand', sans-serif;
   font-size: 60px;

   /* text-decoration: underline #ff14bd; */
}


/* header h1 {
   display: flex;
   justify-content: center;
   align-items: center;

   color: #d0d0d0;
   font-family: 'Quicksand', sans-serif;
   font-size: 60px;

   text-decoration: underline #ff14bd;
} */

nav {
   background-color: #51444C;

   display: flex;
   justify-content: space-around;
   flex-wrap: nowrap;
   align-items: center;

   position: sticky;
   top: 0px;
   z-index: 100;
}

.home_icon {
   display: flex;
   align-items: flex-end;
   width: 60px;
   justify-self: end;
   justify-content: flex-end;
   -webkit-mask: linear-gradient(#aaaaaa calc(100vh + var(--offset)), #aaaaaa calc(100vh + var(--offset) + var(--fade)));
}

.top {
   width: 100%;
   aspect-ratio: 1;

   border-style: solid;
   border-width: 4px;
   border-color: #ff14bd;
   border-radius: 50%;
}

.top:before {
   content: "";
   position: absolute;
   /* inset: 32%; */
   transform: translateY(70%) translateX(38%);
   /* border-top: 5px solid #fff;
   border-right: 5px solid #fff; */

   border-style: solid;
   border-width: 0 15px 15px 15px;
   border-color: transparent transparent #ff14bd transparent;
}

.top:after {
   content: "";
   position: absolute;
   /* inset: 32%;
   transform: translateY(70%) rotate(-45deg);
   border-top: 5px solid #fff;
   border-right: 5px solid #fff; */

   transform: translateY(160%) translateX(38%);

   border-style: solid;
   border-width: 0 15px 15px 15px;
   border-color: transparent transparent #ff14bd transparent;
}

.nav_links {
   color: #ff14bd;
}

.projects {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 5rem 15rem 0 15rem;
   gap: 10rem;
}

.project_image {
   width: 100%;
}

.project_image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.project_image img:hover {
   transform: scale(1.5);
}